<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
	<strong>Plants:</strong>
	<ul>
		<% @person.plants.each do |plant| %>
		<li><%= link_to plant.name, plant_path(plant) %></li>
		<% end %>
	</ul>
</p>

<%= link_to 'New Plant', new_plant_path(person_id: @person.id) %> |
<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
